contracts/train/target/*
contracts/token/target/*

!contracts/train/target/train-Train.json
!contracts/token/target/token-Token.json

scripts/node_modules/
scripts/data.json
scripts/package-lock.json
contracts/train/codegenCache.json
scripts/store/
scripts/.env