[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
native = "M4q843mQwjoTn52Ks5HsmZV8bq8ZtA2XgAWW5pHhwdM"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
